@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bike Shop</h1>
    <h2>Category: </h2>
    <h3>Subcategory: </h3>
    <h3>Subcategory: </h3>
    <h3>Subcategory: </h3>
    <p>Made for bikes' peace of mind when looking for a safe space to buy and sell their motorcycles</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>